<footer class="footer columns">
    <div class="column">
        Developed and designed by <a href="https://connelly.dev">Patrick Connelly</a> using <a href="https://bulma.io/">Bulma</a> and <a href="https://github.com/Deadlypenguin/fitness">Github</a>
    </div>
    <div class="column is-one-quarter has-text-right has-text-primary is-hidden-mobile">
        <span class="icon">
            <a href="https://twitter.com/aelst">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="icon">
            <a href="https://github.com/pcon">
                <i class="fab fa-github-alt"></i>
            </a>
        </span>
        <span class="icon">
            <a href="https://flickr.com/photos/grepsy">
                <i class="fab fa-flickr"></i>
            </a>
        </span>
        <span class="icon">
            <a href="https://www.linkedin.com/pub/patrick-connelly/28/6b3/b56/">
                <i class="fab fa-linkedin"></i>
            </a>
        </span>
    </div>
</footer>