<% var title = 'Oh No!' %>
<%- include('../partials/header', {title, title}) -%>
<main>
    <div class="content">
        <h1>Something has gone wrong!</h1>
    </div>
</main>
<%- include('../partials/footer') -%>