<% var title = 'Login' %>
<%- include('../partials/header', {title: title}) -%>
<div id="site_wrapper" class="container is-fullhd p-3">
    <%- include('../partials/navigation') -%>
    <section class="section">
        <div class="container content">
            <h1>Login</h1>
            <a href="/auth/strava"><img src="/img/login_strava.png" /></a>
        </div>
    </section>
    <%- include('../partials/footer') -%>
</div>
<%- include('../partials/end') -%>