<% var title = 'My Fitness' %>
<%- include('../../partials/header', {title: title}) -%>
<main>
    <div class="container">
        <h1>My Fitness data</h1>
        <div class="content">
            <ul>
                <li><a href="/my/ytd">My year to date</a></li>
            </ul>
        </div>
    </div>
</main>
<%- include('../../partials/footer') -%>