<% var title = 'My Year To Date' %>
<%- include('../../partials/header', {title: title}) -%>
<link rel="stylesheet" href="/css/my_ytd.css" />
<div id="site_wrapper" class="container is-fullhd p-3">
    <%- include('../../partials/navigation', {user: user}) -%>
    <section class="section" id="app">
        <div class="container content">
            <h1 class="is-size-2">My Year To Date</h1>
            <div id="loading" v-if="loading">
                <h2 class="is-size-3"><i class="fas fa-spinner fa-spin"></i></h1>
            </div>
            <div id="content" v-if="!loading" v-cloak>
                <h2 class="is-size-3">Settings</h1>
                    <div class="control">
                        <label v-for="type in distancetypes" class="radio">
                            <input type="radio" name="distancetype" :value="type" v-model="distancetype">
                            {{ distancetypemap[type] }}
                        </label>
                    </div>
                    <div class="control">
                        <label v-for="type in gendertypes" class="radio">
                            <input type="radio" name="icongender" :value="type" v-model="icongender">
                            {{ gendertypemap[type] }}
                        </label>
                    </div>
                    <div class="control">
                        <label v-for="type in platforms" class="radio">
                            <input type="radio" name="platform" :value="type" v-model="platform">
                            {{ platformmap[type] }}
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="globalactivitycount" :value="globalactivitycount"
                                v-model="globalactivitycount">
                            Include year to date activity count
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="individualactivitycount" :value="individualactivitycount"
                                v-model="individualactivitycount">
                            Include per type activity count
                        </label>
                    </div>
                    <h2 class="is-size-3">Output</h1>
                        <div class="pre is-family-monospace">
                            <div>YTD {{ year }}</div>
                            <div v-if="globalactivitycount">{{ ytd.size }} activities in {{ totaldays }} days</div>
                            <type-entry v-for="type in types" v-bind:type="type"
                                v-bind:duration="ytd.activities[type].duration"
                                v-bind:count="ytd.activities[type].count" v-bind:icongender="icongender"
                                v-bind:activitycount="individualactivitycount" v-bind:distancetype="distancetype"
                                v-bind:platform="platform" v-if="ytd.activities[type].count !== 0"></type-entry>
                        </div>
            </div>
        </div>
    </section>
    <%- include('../../partials/footer') -%>
</div>
</div>
<script src="/js/axios.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/vue.min.js"></script>
<script type="module" src="/js/my_ytd.js"></script>
<%- include('../../partials/end') -%>